<h1>Lista de Películas</h1>

<div>
  <table>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Poster</th>
      <th scope="col">Director</th>
      <th scope="col">Año</th>
      <th scope="col">Calificación</th>
    </tr>

    @for (movie of movies; track movie.id) {
      <tr (click)="goToDetail(movie)">
        <td>
          <b>{{ movie.title }}</b>
        </td>
        <td>
          <img
            class="poster-img"
            [src]="movie.posterImageUrl"
            alt="{{ movie.title }} poster"
          />
        </td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.releaseYear }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    }
  </table>
</div>
